.gradle
/*.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build/
.idea/
*.iml
out/
/gradlew
/gradlew.bat
/*.iml
/gradle/
/app/.gitignore
/app/proguard-rules.pro
/app/src/androidTest/java/com/zandbee/vstrokova/floatingtitlebartest/ApplicationTest.java