.gradle
/*.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build/
.idea/
*.iml
out/
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle
/*.iml
/gradle/
/app/.gitignore
/app/build.gradle
/app/proguard-rules.pro
/app/src/androidTest/java/com/zandbee/vstrokova/floatingtitlebartest/ApplicationTest.java